 /* Menu Toggle */
 .menu-toggle {
    display: flex;
    flex-direction: column;
    width: 30px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;
  }
  .bar {
    height: 3px;
    width: 100%;
    background-color: #000;
    margin: 4px 0;
    border-radius: 15px;
    transition: transform 0.5s, opacity 0.5s;
  }
  .menu-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Side Menu */
  .side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
  }
  .side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: all 0.3s ease;
  }
  .side-menu a:hover {
    color: #f1f1f1;
    background-color: #444;
  }
  .side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  .side-menu .close-btn:hover {
    color: #818181;
    background-color: transparent;
  }

  /* Reset CSS */
  * {
    padding: 0;
    margin: 0;
  }
  :root {
    --FONTTitulo: Grenze;
    --FONTPadrao: Roboto;
    --FONTTituloSIZE: 40px;
    --FONTBTNSMenu: Roboto;
    --COLORBTNSMenu: black;
    --BACKGROUNDCOLORBTNSMenu: rgba(255, 255, 255, 0.5);
  }

  header {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #BTNMenu {
    display: none;
  }
  #Menu {
    border-radius: 4px;
    width: fit-content;
    border: 2px solid transparent;
    position: fixed;
    left: 10px;
  }
  input[type="checkbox"]#BTNMenu:checked ~ #Menu {
    box-shadow: 0 0 4px white, inset 0 0 4px white;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid white;
  }
  input[type="checkbox"]#BTNMenu:not(:checked) ~ div ul#MenuHolder {
    display: none;
  }
  ul#MenuHolder li.BTNSMenu a {
    appearance: auto;
    text-decoration: none;
    color: var(--COLORBTNSMenu);
    font-family: var(--FONTBTNSMenu);
    padding: 10px 20px;
    background-color: var(--BACKGROUNDCOLORBTNSMenu);
    box-shadow: inset 0 0 4px white;
  }
  ul#MenuHolder li.BTNSMenu {
    list-style: none;
  }
  ul#MenuHolder {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
  }
  .logo-container img {
    width: 80px;
    height: 80px;
  }
  .ORGInfoHeader {
    display: flex;
    gap: 50%;
    justify-content: flex-end;
  }
  h1 {
    font-family: var(--FONTTitulo);
    font-size: var(--FONTTituloSIZE);
  }

  button {
    --glow-color: rgb(255, 255, 255);
    --glow-spread-color: rgb(255, 255, 255);
    --enhanced-glow-color: rgb(255, 255, 255);
    --btn-color: rgb(0, 0, 0);

    cursor: pointer;
    border: 0.25em solid white;
    padding: 1em 3em;
    color: var(--btn-color);
    font-size: 15px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.6);
    outline: none;
    box-shadow: 0 0 0p 2pxem white;
    text-shadow: 0 0 0.5em var(--glow-color);
    position: relative;
    transition: all 0.2s;
    border-radius: 4px;
  }
  button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(2em);
    opacity: 0.7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
  }
  button:hover {
    color: var(--btn-color);
    border: 0.25em solid var(--glow-spread-color);
    background-color: transparent;
    box-shadow: 0 0 10px 4px var(--glow-color),
      inset 0 0 10px 4px var(--glow-color);
    color: var(--glow-color);
  }
  button:active {
    box-shadow: 0 0 5px 2px var(--glow-color),
      inset 0 0 5px 2px var(--glow-color);
  }

  /* Responsividade */
  @media (min-width: 768px) {
    body.TelaInicio {
      background-image: url(../img/inicioTabletDeitado.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @media (min-width: 375px) and (max-width: 768px) {
    body.TelaInicio {
      background-image: url(../img/inicioTabletEmPe.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  @media (max-width: 375px) {
    body.TelaInicio {
      background-image: url(../img/inicioCelular.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  /* Estilo da tela de inicio */
  .TelaInicio .ORGmainInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .TelaInicio main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .TelaInicio .info {
    position: relative;
    left: -30px;
    font-size: calc(var(--FONTTituloSIZE) - 10px);
    font-family: var(--FONTTitulo);
  }
  .rateOrg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  .rateOrg a{
    color: white;
  }

  .a0 a{
--glow-color: rgb(255, 255, 255);
--glow-spread-color: rgb(255, 255, 255);
--enhanced-glow-color: rgb(255, 255, 255);
--btn-color: rgb(0, 0, 0);

cursor: pointer;
border: 0.25em solid white;
padding: 1em 3em;
color: var(--btn-color);
font-family: var(--FONTBTNSMenu);
text-align: center;
font-size: 15px;
font-weight: bold;
background-color: rgba(255, 255, 255, 0.6);
outline: none;
box-shadow: 0 0 0p 2pxem white;
text-shadow: 0 0 0.5em var(--glow-color);
position: relative;
transition: all 0.2s;
border-radius: 4px;
text-decoration: none;
display: flex;
flex-direction: column;
gap: 10px;
margin-top: 5px;
}

.a0 a:hover {
color: var(--btn-color);
border: 0.25em solid var(--glow-spread-color);
background-color: transparent;
box-shadow: 0 0 10px 4px var(--glow-color),
    inset 0 0 10px 4px var(--glow-color);
color: var(--glow-color);
}

.a0 a:active {
box-shadow: 0 0 5px 2px var(--glow-color),
    inset 0 0 5px 2px var(--glow-color);
}

.btn-voltar {
background-color: #00ffe5;
border: 2px solid #00ffe5;
color: #000000;
padding: 1em 3em;
font-weight: bold;
font-size: 18px;
border-radius: 6px;
cursor: pointer;
transition: background-color 0.3s ease, color 0.3s ease;
text-shadow: none;
box-shadow: none;
display: inline-flex;
align-items: center;
justify-content: center;
}
.btn-voltar:hover {
background-color: #00cbcc;
color: #000000;
border-color: #00ffe5;
}

/* angelo emprovisando */

main {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

main > form {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    background-color: #d1d1d1;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
}

main > form > h3 {
    font-size: clamp(1rem, 2vw, 3rem);
}

main > form > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main > form > div > label {
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: bolder;
}

main > form > div > input {
    font-size: clamp(1rem, 1.5vw, 2rem);
    padding: 0.5rem 1rem;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: none;
}