:root {
    /* INÍCIO ROOT TITULO */
      --FONTTitulo: Grenze;
      --FONTPadrao: Roboto;
      --FONTTituloSIZE: 20px;
      --FONTBTNSMenu: Roboto;
      --COLORBTNSMenu: black;
      --BACKGROUNDCOLORBTNSMenu: rgba(255, 255, 255, 0.5);
    /* FIM ROOT TITULO */

    /* INÍCIO ROOT BUTTON NEON */
      --glow-color: rgb(255, 255, 255);
      --glow-spread-color: rgb(255, 255, 255);
      --enhanced-glow-color: rgb(255, 255, 255);
      --btn-color: rgb(0, 0, 0);
    /* FIM ROOT BUTTON NEON */
  }

  * {
    padding: 0;
    margin: 0;
  }

  /* HEADER BASE */
  header {
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-family: var(--FONTTitulo);
    font-size: var(--FONTTituloSIZE);
  }
/*  ==========================================================
                            FIM ROOT 
    ==========================================================*/

/*  ==========================================================
                       INÍCIO CSS NAV BAR
    ==========================================================*/
    .menu-toggle {
      display: flex;
      flex-direction: column;
      width: 30px;
      padding: 10px;
      cursor: pointer;
      transition: transform 0.5s;
    }
    .bar {
      height: 3px;
      width: 100%;
      background-color: #000;
      margin: 4px 0;
      border-radius: 15px;
      transition: transform 0.5s, opacity 0.5s;
    }
    .menu-toggle.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
    .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
    }
    .menu-toggle.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
    .side-menu {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: width 0.5s;
      padding-top: 60px;
    }
    .side-menu a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: all 0.3s ease;
    }
    .side-menu a:hover {
      color: #f1f1f1;
      background-color: #444;
    }
    .side-menu .close-btn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
    }

    ::-webkit-scrollbar {
      display: none;
    }

    #BTNMenu {
      display: none;
    }

    #Menu {
      border-radius: 4px;
      width: fit-content;
      border: 2px solid transparent;
      position: fixed;
      left: 10px;
    }

    input[type="checkbox"]#BTNMenu:checked ~ #Menu {
      box-shadow: 0 0 4px white, inset 0 0 4px white;
      background-color: rgba(255, 255, 255, 0.5);
      border: 2px solid white;
    }

    input[type="checkbox"]#BTNMenu:not(:checked) ~ div ul#MenuHolder {
      display: none;
    }

    ul#MenuHolder li.BTNSMenu a {
      appearance: auto;
      text-decoration: none;
      color: var(--COLORBTNSMenu);
      font-family: var(--FONTBTNSMenu);
      padding: 10px 20px;
      background-color: var(--BACKGROUNDCOLORBTNSMenu);
      box-shadow: inset 0 0 4px white;
    }

    ul#MenuHolder li.BTNSMenu {
      list-style: none;
    }

    ul#MenuHolder {
      display: flex;
      flex-direction: column;
      gap: 2px;
    }

   
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .logo-container img {
      width: 50px;
      height: auto;
    }
    .ORGInfoHeader {
      display: flex;
      width: 50%;
      gap: 50%;
      justify-content: flex-end;
    }

    header{
        display: flex;
        align-items: center;
    }



/* Estilo de fundo que o body terá no Tablet */
@media (min-width: 768px) {
      body.telaRanking {
        background-image: url(../img/inicio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @media (min-width: 375px) and (max-width: 768px) {
      body.telaRanking {
        background-image: url(../img/inicio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    @media (max-width: 375px) {
      body.telaRanking {
        background-image: url(../img/inicio.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    } 


    body{
        background-color: aquamarine;
    }

    main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 20px;
    align-items: center;
    gap: 20px;
}

.card-curso-holder{
    width: calc(100% - 40px);
}

.card-curso-header {
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 4px 4px 0px 0px;
    background-color: #54C1A3;
    border: 4px solid #46E0BF;
    box-shadow: 0 0 10px #46E0BF;
    color: white;
    text-align: center;
}

.card-curso-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 0px 0px 4px 4px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 4px solid white;
    box-shadow: 0 0 10px 0 white;
}

.card-curso-list {
    display: flex;
    padding: 10px;
    background-color: #46E0BF;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    align-items: center;
}

.card-curso-list p {
    width: 100%;
}

.card-curso-list a {
    text-decoration: none;
    background-color: white;
    padding: 10px;
    text-wrap: nowrap;
    border-radius: 4px;
    color: black;
}


.btn-voltar {
    background-color: #00ffe5;
    border: 2px solid #00ffe5;
    color: #000000;
    padding: 1em 3em;
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-shadow: none;
    box-shadow: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .btn-voltar:hover {
    background-color: #00cbcc;
    color: #000000;
    border-color: #00ffe5;
  }
